.order-manage-wrapper {
  background-image: #ffffff;
  font-family: "Roboto";
  .full-calendar {
    .full-calendar-image {
      width: 100%;
      height: calc(160 / $fdf) * $rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .cancel-order-number {
      font-size: calc(16 / $fdf) * $rem;
      color: #2c2c2c;
      background: #ffffff;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 16px;
      .number {
        font-size: calc(20 / $fdf) * $rem;
        color: $redcolor;
        font-weight: 700;
        // display: block;
        padding: 4px;
      }
    }
    .click-here {
      font-size: calc(16 / $fdf) * $rem;
      color: #2c2c2c;
      background: #ffffff;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 16px;
      .here {
        cursor: pointer;
        font-size: calc(16 / $fdf) * $rem;
        color: $redcolor;
        font-weight: 700;
        display: block;
        padding: 0 4px;
        padding-bottom: 0;
        &:hover{
          color: #fd3300;
        }
      }
    }
  }
  .fc-media-screen {
    // background-color: #d3fc89;
    border-radius: 10px;
    .fc-header-toolbar {
      padding: calc(8 / $fdf) * $rem;
      background-color: #ffffff;
      margin-bottom: 0 !important;
      .fc-toolbar-chunk {
        .fc-toolbar-title {
          font-size: calc(20 / $fdf) * $rem;
          color: #2c2c2c;
          font-weight: 600;
        }
        .fc-button-group {
          button {
            background-color: #eb542e;
            color: #ffffff;
          }
        }
        button {
          background-color: #eb542e;
          color: #ffffff;
        }
      }
    }
    .fc-view-harness {
      table {
        thead {
        }
        tbody {
          tr {
            &:hover {
              td {
                background-color: $maincolor !important;
              }
            }
            &:nth-child(4n) {
              td {
                background-color: #f3e4e4;
              }
            }
            &.fc-list-event {
              td {
                border-bottom: 1px solid #f3e4e4;
              }
            }
            &:nth-child(1n) {
              th {
                background-color: $maincolor;
                a {
                  color: #ffffff;
                  font-weight: 700;
                  text-transform: uppercase;
                }
              }
            }
            &:not(:nth-child(1)) {
              color: #6f675f;
              font-weight: 800;
              &:hover {
                td {
                  background-color: #25d6d3;
                }
              }
            }
            td {
              border-bottom: 1px solid rgb(197 188 188);
              padding: calc(4 / $fdf) * $rem calc(8 / $fdf) * $rem;
              span {
                display: block;
              }
              &.fc-list-event-graphic {
                display: none;
              }
              .order-info {
                width: 85%;
                padding-right: calc(8 / $fdf) * $rem;
                .product-info {
                  .product-info-title {
                    font-size: calc(14 / $fdf) * $rem;
                    text-transform: uppercase;
                    color: #eb542e;
                    font-weight: 700;
                    margin-bottom: calc(8 / $fdf) * $rem;
                  }
                  .product-info-detail {
                    .product-flex-info {
                      display: flex;
                      align-items: center;
                      flex-wrap: wrap;
                      // justify-content: space-between;
                      .product-info-detail-item {
                        padding-right: calc(8 / $fdf) * $rem;
                      }
                    }
                    .product-info-detail-item {
                      display: flex;
                      align-items: center;
                      margin-bottom: calc(8 / $fdf) * $rem;
                      flex-wrap: wrap;
                      .title {
                        font-weight: 400;
                        font-size: calc(14 / $fdf) * $rem;
                        color: #6f675f;
                        padding-right: calc(6 / $fdf) * $rem;
                      }
                      .content {
                        font-weight: 700;
                        font-size: calc(16 / $fdf) * $rem;
                        color: #6f675f;
                        &.address {
                          font-size: calc(12 / $fdf) * $rem;
                        }
                      }
                    }
                  }
                }
              }
              .order-follow-status {
                width: 15%;
                .content {
                  font-size: calc(14 / $fdf) * $rem;
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }
  .supplement-wrapper {
    .supplement-image{
      width: 100%;
      height: calc(160 / $fdf) * $rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .supplement-content{
      padding: calc(8 / $fdf) * $rem;
      background-color: #f5eeee;
      border: 1px solid #ffffff;
      .supplement-header{
        .supplement-list{
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          .supplement-item{
            padding-right: calc(8 / $fdf) * $rem;
            .ant-card{
              &.active{
                border: 3px solid $navactive;
              }
              .ant-card-head{
                background-color: $maincolor;
                color: #ffffff;
                font-weight: 700;
                text-align: center;
              }
              .ant-card-body{
                .supplement-content-item{
                  text-align: center;
                  .title{
                    font-weight: 700;
                    color: #2c2c2c;
                  }
                }
              }
            }
          }
        }
      }
      .date-delivery{
        margin: calc(16 / $fdf) * $rem auto;
        width: calc(200 / $fdf) * $rem;
      }
      .button-submit-supplement{
        display: flex;
        justify-content: flex-end;
        margin: calc(16 / $fdf) * $rem 0 ;
        button{
          background-color: $maincolor;
        color: #ffffff;
        font-weight: 700;
        }
      }
    }
  }
}
