.profile-wrapper {
  padding: calc(12 / $fdf) * $rem;
  background-color: #ffffff;
  font-family: "Roboto";
  .section {
    .title {
      color: #2c2c2c;
      font-size: calc(18 / $fdf) * $rem;
      font-weight: 800;
      margin: calc(8 / $fdf) * $rem 0;
      color: #2c2c2c;
      text-transform: uppercase;
    }
  }
  .profile-section {
    .profile-avatar {
      width: calc(82 / $fdf) * $rem;
      height: calc(82 / $fdf) * $rem;
      border-radius: 50%;
      margin: auto;
      position: relative;
      img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
      }
      label {
        cursor: pointer;
        position: absolute;
        right: 0;
        bottom: 0;
        .icon-edit-modal {
          font-size: calc(24 / $fdf) * $rem;
        }
      }
      .input-file {
        opacity: 0;
        position: absolute;
        z-index: -1;
      }
      input {
        height: calc(20 / $fdf) * $rem;
      }
      .ant-image-mask-info {
        width: calc(120 / $fdf) * $rem;
        height: calc(120 / $fdf) * $rem;
        .anticon {
          margin-top: calc(50 / $fdf) * $rem;
          margin-inline-end: unset !important;
        }
      }
      .icon-camera {
        &::before {
          position: absolute;
          right: calc(-13 / $fdf) * $rem;
          bottom: calc(-8 / $fdf) * $rem;
          padding: calc(10 / $fdf) * $rem;
          border-radius: 50%;
          border: 1px solid #ececec;
          background-color: #fafafa;
        }
      }
    }
    .profile-information-content {
      margin-top: calc(16 / $fdf) * $rem;
      .ant-form {
        .ant-row {
          &.divider {
            justify-content: space-between;
          }
          .ant-col {
            .flex-profile-item {
              &.form-displayed {
                .field-wrapper {
                  display: none;
                }
                .ant-form-item {
                  display: block;
                  margin-bottom: calc(8 / $fdf) * $rem;
                  .ant-form-item-row{
                    flex-direction: row;
                    align-items: center;
                    .ant-form-item-label{
                      flex: unset !important;
                      color: #2c2c2c;
                      font-size: calc(14 / $fdf) * $rem;
                      font-weight: 800;
                      margin: calc(8 / $fdf) * $rem 0;
                      color: #2c2c2c;
                      width: 20%;
                    }
                    .ant-form-item-control{
                      flex: unset !important;
                      width: 60%;
                    }
                  }
                }
              }
              &.div-displayed {
                .ant-form-item {
                  display: none;
                }
                .field-wrapper {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  .field-wrapper-content {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    .field-label {
                      color: #2c2c2c;
                      font-size: calc(14 / $fdf) * $rem;
                      font-weight: 800;
                      margin: calc(8 / $fdf) * $rem 0;
                      color: #2c2c2c;
                      padding-right: calc(16 / $fdf) * $rem;
                      width: 20%;
                    }
                    .field-value {
                      width: 60%;
                    }
                  }
                }
              }
            }
            .action-buttons {
              margin: calc(8 / $fdf) * $rem 0;
              &.displayed {
                display: flex;
                justify-content: flex-end;
              }
              &.none {
                display: none;
              }
              button {
                width: calc(100 / $fdf) * $rem;
                &:nth-child(1) {
                  margin-right: calc(8 / $fdf) * $rem;
                  background-color: $maincolor;
                  border: 1px solid $maincolor;
                  color: #ffffff;
                }
              }
            }
          }
          .custom-radio-group {
            display: flex;
            justify-content: flex-start;
            .custom-radio {
              padding: calc(4 / $fdf) * $rem;
              border: 1px solid #e2dcdc;
              border-radius: 5px;
            }
          }
        }
      }
    }
  }
  .delivery-info-section {
    background-color: $maincolor;
    padding: calc(16 / $fdf) * $rem;
    .title{
      margin-top: 0;
    }
  }
}
