.tabledata{
    margin-top: calc(18 / $fdf) * $rem;
    width: 100%;
    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0 50px;
        padding: 0 50px 0 50px;
        tr {
          border-bottom: 1px solid #e2edcc;
          td {
            text-align: center;
          }
          th {
            height: calc(60 / $fdf) * $rem;
            // &.date {
            //   span {
            //     margin-bottom: calc(12 / $fdf) * $rem;
            //     font-size: calc(16 / $fdf) * $rem;
            //     padding: calc(16 / $fdf) * $rem;
            //     padding: calc(16 / $fdf) * $rem;
            //     border-radius: 50%;
            //     background-color: $maincolor;
            //     color: #ffffff;
            //     width: calc(32 / $fdf) * $rem;
            //   }
            // }
          }
        }
        thead{
          tr{
            th{
              border: 1px solid $maincolor;
              &:nth-child(1){
                background-color: $maincolor;
              }
            }
          }
        }
        tbody {
          tr {
            &:nth-child(even) {
              background-color: #f2f2f2;
            }
            th {
              width: calc((100% - 90px) / 3);
              &:nth-child(1) {
                width: 90px;
                background-color: $maincolor;
                color: #ffffff;
                // opacity: 0.5;
                span {
                  font-weight: 700;
                  // padding: 16px;
                  background-color: $maincolor;
                  // border-radius: 50%;
                }
              }
            }
            td {
              font-size: calc(10 / $fdf) * $rem;
            }
          }
        }
      }
}