.combo-wrapper{
    background-color: #ffffff;
    border-radius: 10px;
    font-family: 'Roboto';
    // background-image: url("/images/bgred.jpg");
    // height:  calc(300 / $fdf) * $rem;
    .combo-container{
        margin-top: calc(16 / $fdf) * $rem;
        padding: calc(8 / $fdf) * $rem;
        padding-bottom: calc(24 / $fdf) * $rem;
        .combo-content-header{
            .combo-title{
                text-align: center;
                line-height: calc(40 / $fdf) * $rem;
                font-size: calc(30 / $fdf) * $rem;
                font-weight: 600;
                position: relative;
                padding-top: calc(16 / $fdf) * $rem;
                &::before{
                    content: '';
                    position: absolute;
                    bottom: -10px;
                    width: calc(100 / $fdf) * $rem;
                    height: calc(5 / $fdf) * $rem;
                    background-color: #9cdd22;
                    transform: translate(-50%, -50%);
                    left:50%;
                }
            }
            .combo-content{
                margin-top: calc(24 / $fdf) * $rem;
                margin-bottom: calc(16 / $fdf) * $rem;
                text-align: center;
                color: #2C2C2C;
                font-weight: 400;
                font-size: calc(14 / $fdf) * $rem;
            }
        }
        .ant-carousel{
            height:  calc(300 / $fdf) * $rem;
            .slick-slider{
                height: 100%;
                .slick-list{
                    // height: 100%;
                    .slick-track{
                        .slick-slide{
                            margin: 0 calc(8 / $fdf) * $rem;
                            padding-bottom: calc(24 / $fdf) * $rem;;
                            // box-shadow: 0px 3px 20px rgb(184 184 184);
                            height: calc(250 / $fdf) * $rem;
                            // background-color:#fff9f2 ;
                        }
                    }
                }
            }
        }
        .explore-menus{
            background-color: #9cdd22;
            padding: 8px 14px;
            border-radius: 5px;
            color: #ffffff;
            font-weight: 500;
            margin: auto;
            display: flex;
            justify-content: center;
            text-align: center;
            width: 150px;
            cursor: pointer;
            margin-top: calc(64 / $fdf) * $rem;
            &:hover{
                background-color: #a4f018;
            }
        }
    }
}