.footer-component {
    background-color: #f8f8f8;
    font-family: "Roboto";
    color: #ffffff;
    .footer-container {
      padding: 20px;
      max-width: 936px;
      margin-left: auto;
      margin-right: auto;  
      .footer-top {
        padding-bottom: 16px;
        border-bottom: 3px solid #a59e9e;
        .footer-title{
          text-transform: uppercase;
          font-size: 24px;
          color: #a19595;
          font-weight: 900;
        }
        .footer-company{
          text-transform: uppercase;
          font-size: 22px;
          color: #2c2c2c;
          font-weight: 900;
        }
        .footer-top-item {
          .title {
            font-weight: 700;
            font-size: 16px;
            color: #2c2c2c;
          }
          ul {
            padding-left: 0;
            li {
              list-style-type: none;
              color: #2c2c2c;
              font-weight: 400;
              font-size: 14px;
            }
          }
        }
      }
      .footer-bottom {
        padding-top: 16px;
        text-align: center;
        color: #2c2c2c;
        font-weight: 400;
        font-size: 14px;
      }
    }
  }
  