.product-item-wrapper{
    display: flex;
    // align-items: center;
    font-family: "Roboto";
    margin-bottom: calc(18/ $fdf) * $rem;
    img{
        width: 30%;
        padding-right: calc(18 / $fdf) * $rem;
        border-radius: 20px;
        height: calc(160 / $fdf) * $rem;
        object-fit: cover;
    }
    .product-item-content{
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .product-info{
            .title-item{
                font-weight: 600;
                font-size: calc(18 / $fdf) * $rem;
                color: #2C2C2C;
                text-transform: uppercase;
            }
            .description{
                font-weight: 400;
                font-size: calc(18 / $fdf) * $rem;
                color: #918d8d
            }
        }
        .min-price{
            padding-bottom: calc(8 / $fdf) * $rem;
            font-weight: 600;
            font-size: calc(18 / $fdf) * $rem;
            color: rgb(232, 110, 110);
        }
    }
}